html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #3e86d8;
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: rgba(0,0,0,.8);
}

/* DateTimePicker plugin */
.datetimepicker {
  background: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  padding: 10px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  min-width: 200px;
}
.datetimepicker .paging {
  text-align: center;
  padding: 5px;
  font-size: 12px;
  position: relative;
}
.datetimepicker .paging span {
  position: absolute;
  top: 0px;
  display: inline-block;
  height: 100%;
  line-height: 24px;
  width: 20px;
  cursor: pointer;
}
.datetimepicker .paging span i {
  line-height: inherit;
}
.datetimepicker .paging span.prev {
  left: 0px;
}
.datetimepicker .paging span.next {
  right: 0px;
}
.datetimepicker table {
  font-weight: normal;
  font-size: 14px;
  color: #333333;
  border-collapse: collapse;
  width: 100%;
}
.datetimepicker table td {
  text-align: center;
  border: 1px solid #eee;
  padding: 3px;
}
.datetimepicker table td.near-month {
  color: #ccc;
}
.datetimepicker table td.cur-date.cur-month {
  background: #D9EDF7;
}
.datetimepicker table thead {
  font-weight: bold;
}
.datetimepicker table thead td {
  border: none;
  border-bottom: 2px solid #eee;
  min-width: 40px;
}
.datetimepicker table tbody td:hover {
  background: #eee;
  cursor: pointer;
}
.datetimepicker table tbody td.unvailable {
  color: #eee;
  background: #F5F5F5;
}
.datetimepicker table tbody td.unvailable:hover {
  background: #F5F5F5;
  cursor: not-allowed;
}
.datetimepicker select {
  width: 48%;
  margin-top: 10px;
  margin-left: 4%;
  border: 1px solid #ccc;
}
.datetimepicker select:first-child {
  margin-left: 0;
}
.datetimepicker .timezone {
  margin-top: 10px;
  color: #666;
  font-size: 11px;
  text-align: center;
}
input[readonly].datetime-picker {
  cursor: pointer;
}

.booking-form {
  margin: 50px auto;
  background: #eee;
  padding: 30px 0;
  position: relative;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.125);
}

.booking-form #form-message {
  text-align: center;
  color: #555555;
 }

.hide {
  display: none !important;
}
.show {
  display: block !important;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.booking-form #form-loading {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 1000;
  background: #555555;
}
.booking-form #form-loading i {
  font-size: 100px;
}
.booking-form .h1 {
  font-size: 30px;
  color: #3e86d8;
  padding: 15px 15px 35px 15px;
  text-transform: uppercase;
  text-align: center;
}
.booking-form .group {
  *zoom: 1;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  border-left: 4px solid #fff;
  padding: 10px 0;
}
.booking-form .group:before,
.booking-form .group:after {
  content: " ";
  display: table;
}
.booking-form .group:after {
  clear: both;
}
.booking-form .group > label {
  padding-left: 15px;
  padding-top: 5px;
  color: #555555;
  font-size: 16px;
  display: block;
}
.booking-form .group > label.empty {
  display: block;
  height: 1px;
  padding: 0;
  margin: 0;
}
.booking-form .group > div {
  padding: 0 15px;
}
.booking-form .group > div.addon-right {
  position: relative;
  padding-right: 50px;
}
.booking-form .group > div.addon-right > i {
  position: absolute;
  right: 25px;
  top: 9px;
  z-index: 999;
  color: #555555;
}
.booking-form .group > div .error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}
.booking-form .group.active {
  background: #F6F6F6;
  border-left-color: #40C2FF;
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.03);
}
.booking-form input[type=submit] {
  border: none;
  background: #3e86d8;
  color: white;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background ease-in-out .15s;
  transition: background ease-in-out .15s;
}
.booking-form input[type=submit]:hover {
  background: white;
  color: #3e86d8;
}
.booking-form {
  width: 70%;
}
@media (min-width: 550px) {
  .booking-form .group > label {
    float: left;
  }
  .booking-form .group > div {
    margin-left: 180px;
    padding-left: 0;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-family: 'Roboto', sans-serif;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #2D2D2D;
}

h2 {
	padding: 0px 0px 30px 0px;
	font-size: 2.50em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: rgba(0,0,0,.8);
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
		border: 1px solid rgba(0,0,0,.1);
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
.image-left
{
	float: left;
	margin: 0 2em 2em 0;
	height: 150px;
	width: 400px;

}



hr {
	display: none;
}

.roomstable{
	table-layout:fixed;
}
.roomtext{
	width:50%;
}
/** WRAPPER */

#wrapper {
	background: #FFF;
	margin: 0px 20px;
	height:100%%;
}

.container {
	width: 90%;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}


#header {
	position: relative;
	overflow: hidden;
	height: 30%;
	background: url("../images/lobbybg.jpg") no-repeat;
	background-size: cover; 
}

/** LOGO */

#logo {
	position: absolute;
	top: 3em;
	padding: 1em 1em;
	left: 0;
	background: rgba(0,0,0,.8);
	text-align: center;
}

#logo h1 {
	margin: 0;
}

#logo h1 {
	letter-spacing: -1px;
	font-size: 3.5em;
	font-weight: 700;
	text-transform: capitalize;
	color: #FFF;
}


/** MENU */

#menu {
	overflow: hidden;
	background: #3e86d8;
	text-align: center;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 40px 0px 40px;
	line-height: 70px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: rgba(255,255,255,0.5);
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}

#menu .current_page_item a {
}

#menu .last {
	border-right: none;
}

/** PAGE */

#page {
	overflow: hidden;
	padding: 5em 0em;
}

#page img
{
	margin-bottom: 1em;
}

#page .title
{
	margin-bottom: 2em;
}

#page .title h2
{
	font-size: 1.5em;
	font-weight: 400;
	color: rgba(0,0,0,0.8);
}


/* Footer */

#footer {
	overflow: hidden;
	padding: 2% 0px 1% 0px;
	height: 5%;
	background:#333;
	width:100%;
	margin: 0 auto;
}

#footer p {
	text-align: center;
	color: #fff;
}

#footer a {
		color: rgba(0,0,0,0.7);
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		margin: 0;
		padding: 0;
		font-size: 2.8em;
		color: rgba(255,255,255,0.9);
	}
	

/*********************************************************************************/
/* search bar                                                        */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 0em 1em;
		background: #3e86d8;
		letter-spacing: 0.10em;
		line-height: 3em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
	}
	
	#search-bar #date-from, #search-bar #date-to
	{
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429;
		color: #555555;
		background-color: #ffffff;
		background-image: none;
		border: 1px solid #cccccc;
		border-radius: 1px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		font-family: 'Roboto', sans-serif;
	}

	#search-bar .group > label {
	  padding-top: 10px;
	  color: #555555;
	  font-size: 16px;
	}
	#search-bar .group > label.empty {
	  display: block;
	  height: 1px;
	  padding: 0;
	  margin: 0;
	}

	#spacer{
	  height:5px;	
	}

	#results-table{
	width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
	}

	#results-table th {
    background-color: #1d96b2;
    border: 1px solid #1d96b2;
    font-weight: normal;
    text-align: center;
    color: white;
    border: 0;
	}

	#results-table td{
    border-left: 1px solid #1d96b2;
    border-bottom: 1px solid #1d96b2;
    text-align: center;
    }

    #results-table tbody tr:nth-of-type(even) {
    background-color: rgba(94, 93, 82, 0.1);
	}